@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 10px;
  min-height: 100vh;
  background-image: url("./images/greenlight.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2,
h3 {
  color: rgba(0, 0, 0, 0.797);
}
p {
  color: rgba(0, 0, 0, 0.847);
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

/* adjust our menu

*/
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

/* sidebar  */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.237);
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  margin-top: 10px;
  border-radius: 6px;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}

header {
  max-width: 1200px;
  margin: 40px auto;
  border-bottom: 1px solid #bbc7c7;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  max-width: 1200;
  margin: 20px 20px;
}

article.featured {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  border-bottom: 1px solid #bbc7c7;
  padding-bottom: 30px;
}

article img,
article.featured img {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 6px;
}
article p,
article h3 {
  margin: 20px 10px;
}

/* responsive media queries */
@media screen and (max-width: 850px) {
  .hideOnMobile {
    display: none;
  }
  article {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 30px;
  }
}

@media (max-width: 550px) {
  .sidebar {
    width: 100%;
  }
  article,
  article.featured {
    display: block;
    margin: 0 20px;
  }
}
